@page
@model WebRazor.Pages.Admin.Product.CreateModel

@{
	ViewData["Title"] = "Create";
}

<div class="path-admin" style="background-color: black;">CREATE A NEW PRODUCT</b></div>
<div class="content-main">

	<form method="post" id="content-main-product">
        <div class="content-main-1">
            
            <label asp-for="Product.ProductName"></label><br />
            <input asp-for="Product.ProductName" /><br />
            <span class="msg-error" asp-validation-for="Product.ProductName"></span>

            <label asp-for="Product.UnitPrice"></label><br />
            <input asp-for="Product.UnitPrice" /><br />
            <span class="msg-error" asp-validation-for="Product.UnitPrice"></span><br />

            <label asp-for="Product.QuantityPerUnit"></label><br />
            <input asp-for="Product.QuantityPerUnit" /><br />
            <span class="msg-error" asp-validation-for="Product.QuantityPerUnit"></span><br />

            <label asp-for="Product.UnitsInStock"></label><br />
            <input asp-for="Product.UnitsInStock" /><br />
            <span class="msg-error" asp-validation-for="Product.UnitsInStock"></span><br />

            <label asp-for="Product.ProductImage"></label><br />
            <input asp-for="Product.ProductImage"/><br />
            <span class="msg-error" asp-validation-for="Product.ProductImage"></span><br />
        </div>
        <div class="content-main-1">
            <label asp-for="Product.CategoryId"></label><br />
            <select asp-for="Product.CategoryId" asp-items="ViewBag.CategoryId"></select><br />

            <label asp-for="Product.ReorderLevel"></label><br />
            <input asp-for="Product.ReorderLevel" disabled type="text"><br />
            <span class="msg-error" asp-validation-for="Product.ReorderLevel"></span><br />

            <label asp-for="Product.UnitsOnOrder"></label><br />
            <input asp-for="Product.UnitsOnOrder" disabled type="text"><br />
            <span class="msg-error" asp-validation-for="Product.UnitsOnOrder"></span><br />


            @Html.DisplayNameFor(model => model.Product.Discontinued)  <input class="form-check-input" asp-for="Product.Discontinued" /> <br />
            <button type="submit" class="btn btn-primary">Save</button>
            <div class="msg-error">@ViewData["msg"]</div>
        </div>
    </form>
</div>
<style>
    .btn.btn-primary {
        background-color: black; /* Green background color */
        color: #fff; /* White text color */
        padding: 10px 20px; /* Padding for better visual appearance */
        border: none; /* Remove default border */
        border-radius: 5px; /* Add border-radius for rounded corners */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: background-color 0.3s; /* Smooth transition for background color */
    }

        /* Hover effect */
        .btn.btn-primary:hover {
            background-color: black; /* Darker green on hover */
        }

</style>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}